:root {
    --brand-color: #5271FF;
    --accent-color: #5271FF;
    --primary-text-color: #222535;
    --secondary-text-color: #666;
    --white-color: #f1f1f1;
    --lighter-gray-color: #f1f1f1;
    --light-gray-color: #e6e6e6;
    --mid-gray-color: #ccc;
    --dark-gray-color: #444;
    --darker-gray-color: #222535;
    --black-color: #000;
    --green-color: #28a745;
    --orange-color: #ffc107;
    --red-color: #dc3545;
    --facebook-color: #3b5998;
    --twitter-color: #1da1f2;
    --whatsapp-color: #25D366;
    --linkedin-color: #0B66C3;
    --copy-color: #6c757d;
    --copy-success-color: #28a745;
    --bluesky-color: #1185FE;
    --threads-color: #000000;
    --mastodon-color: #6364FF;
    --tiktok-color: #000000;
    --youtube-color: #ff0000;
    --instagram-color: #000000;
    --rss-color: #f26522;
    --animation-base: ease-in-out;
    --font-sans: Mulish, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    --font-serif: Lora, Times, serif;
    --font-display: 'League Spartan', -apple-system, BlinkMacSystemFont, sans-serif;
    --font-post-body: 'Spectral', Georgia, serif;
    --navbar-height: 80px;
    --content-font-size: 1.7rem;
    --header-spacing: 6vmin;
    --content-width: 1200px;
}

.is-head-brand {
    --header-spacing: 8vmin;
}

:where(h1, h2, h3, h4, h5, h6) {
    font-weight: 600;
}

body {
    background-color: #222535 !important;
    color: #f1f1f1 !important;
}
